@{ ViewData["Title"] = "Nuevo"; }
<h1>@Lang.Get("TTL_NEW_PRODUCT"): @Lang.Get("NAV_ADM_NEWS")</h1>
<form method="post">
    <div class="mb-3"><label>@Lang.Get("TBL_PRODUCT_NAME")</label><input name="Title" class="form-control" required /></div>
    <div class="mb-3"><label>@Lang.Get("LBL_DESCRIPTION")</label><textarea name="Content" class="form-control" rows="5"></textarea></div>
    <button type="submit" class="btn btn-primary">@Lang.Get("BTN_SAVE")</button>
</form>
